.nav_pc {
    background: rgb(9, 3, 13);
    background: linear-gradient(90deg, rgba(9, 3, 13, 1) 0%, rgba(4, 71, 75, 1) 100%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header {
    min-height: 165px;
}

.header_pc {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.bottom_nav_pc {
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
}

.bottom_nav_pc-li {
    width: 200px;
    text-align: center;
}

.bottom_nav_pc-li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.35rem;
    transition: 0.4s;
}

.bottom_nav_pc-ul {
    display: flex;
    list-style: none;
}

.bottom_nav_pc-li:hover a {
    color: #CAB901;
    font-weight: 500;
}

.bottom_nav_pc-search {
    display: flex;
    flex: 1;
    justify-content: center;
}

.bottom_nav_pc-search input {
    width: 60%;
    height: 30px;
    padding-left: 20px;
    font-size: 1.35rem;

}

.bottom_nav_pc-search button {
    width: 50px;

}

.bottom_nav_pc-search button i {
    font-size: 1.5rem;
}

.bars_mobile {
    display: none;
}


.ul_left {
    margin-left: 10px;
    display: flex;
    text-align: center;
}

.ul_left li a img {
    width: 88px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.ul_center {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.li_boys {
    position: relative;
}
.li_girl{
    position: relative;
}
.li-ul_list_boys{
    border-radius: 10px;
    position: absolute;
    width: 180px;
    background-color: #f0eded;
    top: 70px;
    left: 50%;
    
    display: none;
}
.li_boys:hover .li-ul_list_boys{
    display: block;
}
.li_girl:hover .li-ul_list_boys{
    display: block;
}
.li_boys_ul-li:first-child,
.li_boys_ul-li:last-child {
    border-radius: 10px;
}

.li_boys_ul-li {
    height: 40px;
    padding: 10px 0 0 10px;
    border: 1px solid #e0dede;
}
.ul_center li {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ul_center li a {
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-align: center;
    position: relative;
    transition: 0.3s;
    top: 0;
}

.ul_center li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 1px;
    background-color: var(--yellow-color);
    transition: width 0.3s;
}

.ul_center li a:hover::after {
    width: 100%;
}

.ul_center li a:hover {
    text-decoration: underline;
    color: var(--yellow-color);
    top: 3px;
    

}


.center-img {
    display: none;
}

.ul_right {
    list-style: none;
    padding-right: 10px;
    flex-wrap: nowrap;

}

.li-top {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    margin: 10px;

}

.li-top p {
    color: var(--yellow-color);
    margin-left: 5px;
}

.li-bottom a {
    text-decoration: none;
    color: var(--white-color);
}

.li-bottom {
    font-size: 1.8rem;

    margin-top: 20px;
    text-align: center;

}

.li-bottom i {
    display: inline-block;
    transition: .3s;

}

.li-bottom a:nth-of-type(2) i,
.li-bottom a:nth-of-type(3) i {
    margin-left: 20px;
}

.ul_right li i:hover {
    color: var(--yellow-color);
}

@media (max-width:1023px) {
    .li-top {
        white-space: nowrap;
    }

    .ul_center li a {
        font-size: 1.4rem;
    }

}

@media (max-width:1024px) {
    .bottom_nav_pc {
        display: none;
    }

    .header {
        min-height: 84px;
    }
}

@media (max-width:768px) {


    .li-top,
    .ul_center {
        display: none;
    }

    .bars_mobile {
        display: block;

    }

    .bars_mobile label {
        background-color: inherit;
        border: none;
    }

    .bars_mobile label i {
        color: var(--white-color);
        font-size: 2.6rem;
        display: inline-block;
    }

    .li-bottom a:nth-of-type(1) i,
    .li-bottom a:nth-of-type(2) i {
        display: none;
    }

    .ul_right {
        display: flex;
        align-items: center;
    }

    .li-bottom {
        margin-top: 0;
        margin-right: 20px;
    }

    .bars_mobile {
        display: flex;
        align-items: center;
        margin-left: 20px;

    }

    .bars_mobile label i {
        transition: 0.5s;
    }

    .bars_mobile label i:hover {
        color: var(--yellow-color);
    }

}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2;
}

.nav__input {
    display: none;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav_mobile {
    transform: translateX(0%);
}

/* end nav pc */
.nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #F2F2F2;
    transform: translateX(-100%);
    overflow-y: scroll;
    transition: .5s ease-in-out;
    z-index: 2;
}

.header_mobile {
    width: 250px;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.header_mobile input {
    width: 85%;
    height: 25px;
    border: none;
    padding-left: 10px;
    font-size: 1.3rem;
}

.header_mobile button {
    background-color: var(--yellow-color);
    height: 25px;
    width: 15%;
    border: none;
}

.header_mobile button i {
    color: var(--white-color);
}

.header_mobile button:hover {
    background-color: #CAB901;

}

.ul_mobile {
    list-style: none;
    margin-top: 20px;
}

.li_review {
    min-height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;

}

.ul_mobile li:hover {
    background-color: #EBEBEB;
}

.ul_mobile li a {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #949494;
    text-decoration: none;
    padding-left: 38px;
}

.li_boys,
.li_girls {
    display: flex;
    justify-content: space-between;
}

.li_boys button,
.li_girls button {
    border: none;
    padding: 20px;
}

.li_boys button i,
.li_girls button i {
    font-size: 1.4rem;
    color: #949494;
}

.ul-list_boys li,
.ul-list_girls li {
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #949494;
    padding-left: 45px;
}

.ul-list_boys li:hover a {
    color: #000;
}

.ul-list_boys li,
.ul-list_girls li {
    display: flex;
    align-items: center;
    min-height: 50px;
}

/*  */
.li-list_boys {
    position: relative;
    left: -10%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.show {
    left: 0;
    opacity: 1;
    height: auto;
}


.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.li-list_girls {
    position: relative;
    left: -10%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.showgirl {
    left: 0;
    opacity: 1;
    height: auto;
}


.rotategirl {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.ul-list_girls li a:hover {
    color: #000;
}

.li_intertainment {
    border: none;
    margin-top: 20px;
}

.intertainment {
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.intertainment i {
    font-size: 1.5rem;
    color: #949494;

}

.div_header-nav_mobile label i {
    font-size: 2.3rem;
    color: #949494;
    float: right;
    padding: 10px;
}


/* End Header */

.swiper-slide img {
    width: 100%;
    height: 100%;

}

@media (max-width:767px) {
    .swiper-slide img {
        min-height: 200px;

    }

}

/* End autoSlide */
.line_collection {
    width: 100%;
    display: flex;
    margin-top: 10px;
    min-height: 90px;
    align-items: center;
    justify-content: center;
}

.line_collection-h2 b {
    display: block;
    width: 35%;
    height: 2px;
    background-color: #E8E8E8;

}

.line_collection-h2 span {
    font-size: 1.9rem;
    font-weight: 500;
    flex-wrap: wrap;
    line-height: 2.6rem;
    padding: 0 10px;
}

.line_collection-h2 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}

/*End line_collection */
.img_collection {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img_collection img {
    width: 100%;
    transition: transform 0.3s ease-in;
}

.img_collection:hover img {
    transform: scale(1.1);
}

.img_collection span {
    display: block;
    position: absolute;
    left: 10px;
    bottom: 20px;
    padding: 20px 35px;
    background-color: #F2F5F8;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.img_collection span a {
    color: var(--text-color);
    font-size: 1.35rem;
    font-weight: 500;
    text-decoration: none;
}

.img_collection span:hover {
    background-color: #949494;
}

.img_collection span:hover a {
    color: #CAB901;

}

/* End list img_collection*/
.highlights_category {
    width: 100%;
    display: flex;
    background-color: #F2F2F2;
}

.highlights_category-left {
    width: 55%;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.highlights_category-left h2 {
    text-align: center;
    margin-top: 15px;


}

.highlights_category-left p {
    font-size: 1.25rem;
    margin-top: 20px;
    color: #353535;
    font-weight: 400;
    line-height: 1.9rem;
    padding-right: 5px;
}

.select_boy_girl {
    display: flex;
    margin-top: 20px;
}

.select_boy_girl span:nth-of-type(1) {
    background-color: #000;
    color: white;

}

.select_boy_girl span:nth-of-type(2) {
    border: 2px solid #000;
    color: #000;
    margin-left: 10px;
    transition: 0.3s;
}

.select_boy_girl span:nth-of-type(2):hover {
    background-color: #000;
    color: white;
}

.select_boy_girl span {
    display: block;
    width: 58px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;

}

.highlights_category-right {
    flex: 1;
}

.highlights_category-right img {
    width: 100%;

}

.collibrary_size {
    margin-bottom: 20px;
}

/*  End highlights_category  */
.mySwiper_ {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.swiper-slide-img {
    overflow: hidden;
}

.swiper-slide-img img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s;

}

.caption {
    position: absolute;
    top: 35px;
    left: 40px;
    width: 80%;
    height: 80%;
}

.caption:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(0, 1);
}

.swiper-slide-img:hover .caption:before {
    transform: scale(1, 1);
}

.caption:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(1, 0);
}

.swiper-slide-img:hover .caption:after {
    transform: scale(1, 1);
}

.swiper-slide-img:hover ._slide_img {
    transform: rotate(2deg) scale(1.1);
    opacity: 0.3;

}

.caption-about {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.8s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide-img:hover .caption-about {
    opacity: 1;
}

.caption-about span {
    position: absolute;
    display: block;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #e5e4e4;
    font-size: 2.2rem;
    font-weight: bold;
    color: #FFFFFF;
    z-index: 1;
    transition: 0.3s;

}

.caption-about span:hover {
    background-color: #353535;
    color: #fff;
}

/* End Promotion */
.selling_content {
    padding-bottom: 20px;
}

.selling_img {
    overflow: hidden;
}

.selling_img img {
    width: 100%;
    transition: 0.4s;
}

.selling_content_h3 {
    min-height: 60px;
}

.selling_content_h3 h3 {
    text-align: center;
    line-height: 2.9rem;
}

.selling_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.collibrary_selling {
    transition: 0.3s;
}

.collibrary_selling:hover {
    background-clip: content-box;
    box-shadow: 0 2px 4px rgba(9, 8, 8, 0.2);
    background-color: #F2F2F2;
}

.collibrary_selling:hover .selling_img img {
    transform: scale(1.1);
}

.selling_content button {
    width: 120px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #000;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.selling_content button:hover {

    color: #CAB901;
}

/* <!-- End  Collection selling--> */
.collibrary_trademark {
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;
}

.collibrary_trademark img {
    width: 100%;
}

.line_collection_p p {
    text-align: center;
    font-size: 1.5rem;
    color: #8f8e8e;
    padding: 0 5px;
    line-height: 2.0rem;
}

.scroll_news {
    width: 100%;
    max-width: 800px;
    height: 80px;
    background-color: #FCFBF9;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    align-items: center;
    scrollbar-color: #00AEEF;
    margin-top: 20px;
    border-radius: 10px;
}



.scroll_news span {
    display: inline-block;
    margin: 0 15px;
    display: flex;
    border: 1px solid #00AEEF;
    min-width: 120px;
    height: 35px;
    justify-content: center;
    font-size: 1.35rem;
    font-weight: 500;
    align-items: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.scroll_news span:hover {
    background-color: #00AEEF;
    color: #fff;
}

.scroll_news::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

.scroll_news::-webkit-scrollbar-track {
    background-color: #dbd8d8;
}

.scroll_news::-webkit-scrollbar-thumb {
    background-color: #00AEEF;
    border-radius: 30px;
}

.scroll_news::-webkit-scrollbar-thumb:hover {
    background-color: #0077B6;
}

/* end scroll_news */
.content_slide-news {
    border: 1px solid #8f8e8e;
    border-radius: 20px;
    margin-top: 35px;
    cursor: pointer;
}

.content_slide-news-img {
    width: 100%;
}

.content_slide-news-img img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.content_slide-news-text {
    margin-left: 10px;
    padding: 10px 10px;
}

.content_slide-news-text h2 {
    margin-bottom: 8px;
    font-size: 1.8rem;
}

.content_slide-news-text span {
    color: #e30e48;
    display: flex;
}

.p_time {
    padding-right: 10px;
}

.content_slide-news-text p {
    margin-top: 10px;
    font-size: 1.3rem;
    max-width: 80%;
    line-height: 2rem;
}

/* End content_slide-news */


/* footer */
.footer{
    margin-top: 10px;
    padding: 30px 0px 0px 0px;
    font-size: 1.3rem;
    border-top: 2px solid #ccc;
}
.footer-list{
    margin-top: 10px;
}
.footer-list-item{
    display: flex;
    padding-top: 10px;
   list-style: none;
}
.footer-list-item-a{
    text-decoration: none;
    color: #000;
}
.footer-list-item-section_1{
    margin-left: 10px;
}
.footer-list-item-section_4{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
.footer-list-item-section_4-input{
    height: 35px;
    width: 65%;
    padding-left: 10px;
    box-sizing: border-box;
}
.footer-list-item-section_4-button{
    height: 35px;
    width: 100px;
    box-sizing: border-box;
}
.footer-list-item-section_4-i{
    font-size: 3rem;
    margin-right: 10px;
}
.footer-h2{
    margin-top: 20px;
}
.footer-list-item-section_4-button{
    background-color: #000000;
    color: white;
}
.footer_fb{
    color: rgb(14, 19, 168);
}
.footer_instagram{
    color:rgb(231, 13, 42)
}
.footer_twitter{
    color: #1DA1F2;
}
@media (min-width: 740px) and (max-width: 1023px){ 
    .footer-list-item-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 740px){ 
    .footer_div{
        padding-left: 20px;
    }
}

.footer-list-item_hover:hover{
    color: #0c0d0d;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: bold;
}
.footer-list-item_hover_i:hover{
    font-size: 3.5rem;
    cursor: pointer;
    font-weight: bold;
}
.footer_license{
    margin-top: 40px;
}
.license-div{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;    
}
.license-span1{
    font-size: 1.3rem;
    color: #524c4c;
}
.license-span2{
    font-size: 1.4rem;
    font-weight: 500;
}
.level{
    display: flex;
}




/* ////////////////////////////////////////////////////////////////////////////////////// */

.li_boys,
.li_girls {
    display: flex;
    justify-content: space-between;
}

.li_boys button,
.li_girls button {
    border: none;
    padding: 20px;
}

.li_boys button i,
.li_girls button i {
    font-size: 1.4rem;
    color: #949494;
}

.ul-list_boys li,
.ul-list_girls li {
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #949494;
    padding-left: 45px;
}

.ul-list_boys li:hover a {
    color: #000;
}

.ul-list_boys li,
.ul-list_girls li {
    display: flex;
    align-items: center;
    min-height: 50px;
}

/*  */
.li-list_boys {
    position: relative;
    left: -10%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.show {
    left: 0;
    opacity: 1;
    height: auto;
}


.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}


